<h1 class="page-title">Categories</h1>

<div class="page-content">
  <button class="btn btn-secondary page-button new-button">New Category</button>

  <div class="table-responsive">
    <table class="table table-bordered page-table">
      <thead>
        <tr>
          <th scope="col">
            Category
            <div class="row justify-content-center">
              <div class="input-group filter-input-wrapper col-md-10">
                <input
                  id="filter-category-input"
                  type="text"
                  class="form-control"
                  (ngModelChange)="subject.next()"
                  [(ngModel)]="selectedFilterName"
                  [ngModelOptions]="{ standalone: true }"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-secondary page-button"
                    (click)="clearCategory()"
                  >
                    Clear
                  </button>
                </div>
              </div>
            </div>
          </th>
          <th class="delete-col" scope="col">Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.name }}</td>
          <td>
            <button class="btn btn-secondary page-button delete-button">
              X
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row align-items-center justify-content-end pagination-wrapper">
    <div class="pagination-count">
      {{ numberOfResults === 0 ? 0 : pageSize * page - pageSize + 1 }} -
      {{
        pageSize * page < numberOfResults ? pageSize * page : numberOfResults
      }}
      de
      {{ numberOfResults }}
    </div>
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="numberOfResults"
      [boundaryLinks]="true"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      size="sm"
    ></ngb-pagination>
  </div>
</div>
