$sidebar-bg-color: #282e3e;
$sidebar-hover-color: #5e6578;
$sidebar-light-color: #8e93a1;
$sidebar-lighter-color: #ffffff;

$navbar-bg-color: #ffffff;

$page-bg-color: #e9eef2;
$page-dark-color: #a3aab2;
$page-darker-color: #696c77;
